<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Shoe Shop</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >

	<style>
	h1 {
		padding-bottom: 0em;
		margin-bottom: 0em;
	}
	table {
		padding-top: 0em;
		margin-top: 0em;
	}
	</style>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Register</h1>
			<b style="color:#FF0000";>{{error}}</b>
			<table>
				<form method='POST'>
				{% csrf_token %}
				<tr>
					<td><label>First Name:</label>
					<td><input type='text' name='fName'></input></td>
				</tr>
				<br>
				<tr>
					<td><label>Last Name:</label>
					<td><input type='text' name='lName'></input></td>
				</tr>
				<br>
				<tr>
					<td><label>Email Address:</label>
					<td><input type='text' name='email'></input></td>
				</tr>
				<br>
				<tr>
					<td><label>Phone Number:</label>
					<td><input type='text' name='phone'></input></td>
				</tr>
				<br>
				<tr>
					<td><label>Address:</label>
					<td><input type='text' name='address'></input></td>
				</tr>
				<br>
				<tr>
					<td><label>Username:</label>
					<td><input type='text' name='username'></input></td>
				</tr>
				<br>
				<tr>
					<td><label>Password:</label>
					<td><input type='password' name='password'></input></td>
				</tr>
				<br>
				<tr>
					<td><label>Confirm Password:</label>
					<td><input type='password' name='confirmPassword'></input></td>
				</tr>
				<br>
				<tr>
					<td></td>
					<td><input type='submit' value='Sign up'></input></td>
				</tr>
				</form>
			</table>
		</div>
	</div>
</body>
</html>